extends layout.pug

block content
  section(id="careers")
    div(class="careers-banner")

    div(class="careers-intro")
      div(class="container")
        h2 Connect the world through chat
        p Kik is building a new, simpler way to connect with the world around you: the most powerful chat network on earth. At Kik, you’ll work alongside a whip-smart team of lateral thinkers as we reimagine the way people interact with friends, services, and businesses in a chat-first internet. From day one, you’ll be working on products and features that change the lives of the new generation. Come make a difference.

    div(class="careers-more-info")
      div(class="container")
        h2 Life at kik
        p(class="") We want work at Kik to enrich your life, not make it more complicated. We offer benefits and perks to allow you the energy you need to move mountains.

        div(class="row clearfix")
          div(class="col-8")
            h3 Catered meals and snacks
            p Everyday, we cater lunch and dinner from top restaurants.
            h3 Flexible work times
            p Whether you're a morning person or a night owl, Kik offers the flexibility to work when you're most productive.
            h3 Vacation policy
            p Three weeks of paid time off per year, plus a two-week shutdown in December.
            h3 On-site gym
            p Forget about paying for a membership or driving to the gym. Work out at work.

          div(class="col-4")
            h3 And there's more
            ul
              li
                i(class="fa fa-laptop" aria-hidden="true")
                span pick your gear
              li
                i(class="fa fa-car" aria-hidden="true")
                span Team events
              li
                i(class="fa fa-paw" aria-hidden="true")
                span pet-friendly office
              li
                i(class="fa fa-money" aria-hidden="true")
                span competitive salaries
              li
                i(class="fa fa-pie-chart" aria-hidden="true")
                span generous benefits
