extends layout.pug

block content
  section(id="careers")
    div(class="careers-banner")

    div(class="careers-intro")
      div(class="container")
        h2 Connect the world through chat
        p Kik is building a new, simpler way to connect with the world around you: the most powerful chat network on earth. At Kik, you’ll work alongside a whip-smart team of lateral thinkers as we reimagine the way people interact with friends, services, and businesses in a chat-first internet. From day one, you’ll be working on products and features that change the lives of the new generation. Come make a difference.

    div(class="careers-more-info")
      div(class="container")
        h2 Life at kik
        p(class="") We want work at Kik to enrich your life, not make it more complicated. We offer benefits and perks to allow you the energy you need to move mountains.

        div(class="row clearfix")
          div(class="col-8")
            h3 Catered meals and snacks
            p Everyday, we cater lunch and dinner from top restaurants.
            h3 Flexible work times
            p Whether you're a morning person or a night owl, Kik offers the flexibility to work when you're most productive.
            h3 Vacation policy
            p Three weeks of paid time off per year, plus a two-week shutdown in December.
            h3 On-site gym
            p Forget about paying for a membership or driving to the gym. Work out at work.

          div(class="col-4")
            h3 And there's more
            ul
              li
                i(class="fa fa-laptop" aria-hidden="true")
                span pick your gear
              li
                i(class="fa fa-car" aria-hidden="true")
                span Team events
              li
                i(class="fa fa-paw" aria-hidden="true")
                span pet-friendly office
              li
                i(class="fa fa-money" aria-hidden="true")
                span competitive salaries
              li
                i(class="fa fa-pie-chart" aria-hidden="true")
                span generous benefits

    div(class="careers-job-listing")
      div.container
        h2 Interested in hearing more? We're hiring.

        div(class="row clearfix")
          div(class="department-select-box")
            select(name="Department")
              option All Departments
              option(value="Business Operations") Business Operations
              option(value="Data") Data
              option(value="Development") Development
              option(value="Engineering") Engineering
              option(value="Legal") Legal
            i(class="fa fa-chevron-down" aria-hidden="true")
          div(class="locations-select-box")
            select(name="Locations")
              option All Locations
              option(value="New York, NY") New York, NY
              option(value="Toronto, Canada") Toronto, Canada
              option(value="Waterloo, Canada") Waterloo, Canada
            i(class="fa fa-chevron-down" aria-hidden="true")

          button(class="job-search-btn") Search

        div(class="list-result")
          table
            tbody
              tr
                th JOB TITLE
                th DEPARTMENT
                th LOCATION
              tr
                td
                  a(href="") Android Developer
                td
                  a(href="") Engineering
                td
                  a(href="") Waterloo, Canada
              tr
                td
                  a(href="") Anti-Spam Software Developer
                td
                  a(href="") Engineering
                td
                  a(href="") Waterloo, Canada
              tr
                td
                  a(href=" ") Backend Developer
                td
                  a(href=" ") Engineering
                td
                  a(href=" ") Waterloo, Canada
              tr
                td
                  a(href=" ") Community Safety Moderator
                td
                  a(href=" ") Business Operations
                td
                  a(href=" ") Waterloo, Canada
              tr
                td
                  a(href=" ") Data Scientist
                td
                  a(href=" ") Data
                td
                  a(href=" ") New York, NY
              tr
                td
                  a(href="") Development Manager, Server
                td
                  a(href="") Engineering
                td
                  a(href="") Waterloo, Canada
              tr
                td
                  a(href=" ") Director of Trust and Safety
                td
                  a(href=" ") Business Operations
                td
                  a(href=" ") Waterloo, Canada
              tr
                td
                  a(href="") iOS Developer
                td
                  a(href="") Engineering
                td
                  a(href="") Waterloo, Canada
              tr
                td
                  a(href="") Mobile Development Manager
                td
                  a(href="") Engineering
                td
                  a(href="") Waterloo, Canada
              tr
                td
                  a(href="") Mobile Development Manager (Toronto)
                td
                  a(href="") Engineering
                td
                  a(href="") Toronto, Canada
              tr
                td
                  a(href="") QA Manager
                td
                  a(href="") Engineering
                td
                  a(href="") Waterloo, Canada
              tr
                td
                  a(href=" ") Security Team Lead
                td
                  a(href=" ") Engineering
                td
                  a(href=" ") Waterloo, Canada
              tr
                td
                  a(href="") Senior Android Developer
                td
                  a(href="") Engineering
                td
                  a(href="") Toronto, Canada
              tr
                td
                  a(href=" ") Senior Intellectual Property Law Clerk
                td
                  a(href=" ") Legal
                td
                  a(href=" ") Waterloo, Canada
              tr
                td
                  a(href="") Senior iOS Developer
                td
                  a(href="") Engineering
                td
                  a(href="") Waterloo, Canada
              tr
                td
                  a(href="") Senior iOS Developer
                td
                  a(href="") Engineering
                td
                  a(href="") Toronto, Canada
              tr
                td
                  a(href="") Senior Server Developer
                td
                  a(href="") Engineering
                td
                  a(href="") Waterloo, Canada
              tr
                td
                  a(href=" ") Senior Software Developer, Anti-Spam
                td
                  a(href=" ") Engineering
                td
                  a(href=" ") Waterloo, Canada
              tr
                td
                  a(href="") Server Developer
                td
                  a(href="") Engineering
                td
                  a(href="") Waterloo, Canada
              tr
                td
                  a(href=" ") Software Development Manager
                td
                  a(href=" ") Engineering
                td
                  a(href=" ") Waterloo, Canada
              tr
                td
                  a(href="") UI/UX Designer
                td
                  a(href="") Development
                td
                  a(href="") Waterloo, Canada
              tr
                td
                  a(href=" ") Web Developer
                td
                  a(href=" ") Engineering
                td
                  a(href=" ") Toronto, Canada
