footer
  div.container
    div.clearfix
      ul.footer-links
        li
          a(href="") About
        li
          a(href="") Blog
        li
          a(href="") Press
        li
          a(href="") Terms
        li
          a(href="") Privacy
        li
          a(href="") Safety Center
        li
          a(href="") Contact

      ul.social-links
        li
          a(href="")
            i(class="fa fa-twitter-square" aria-hidden="true")
        li
          a(href="")
            i(class="fa fa-facebook-square" aria-hidden="true")
        li
          a(href="")
            i(class="fa fa-linkedin-square" aria-hidden="true")
    p &copy; kik interactive inc, 2016. All rights reserved.
    p kik and the kik logo are trademarks and/or registered trademarks of kik interactive
