extends layout.pug

block content
    div(id="help")
      div(class="help-search-box")
        div(class="container")
          p Hey there!
          p What can we help you with?

          input(type="text" placeholder="Have a question?")

      div(class="help-preselected-topics")
        div(class="container")
          div(class="row")
            a(class="bordered-link col-6") About Kik
            a(class="bordered-link col-6") Tips & Tricks
          div(class="row")
            a(class="bordered-link col-6") Common Questions
            a(class="bordered-link col-6") Sefety 
