extends layout.pug

block content
    div(id="help")
      div(class="help-search-box")
        div(class="container")
          p Hey there!
          p What can we help you with?
          form(action="" method="post")
            input(type="text" placeholder="Have a question?")
            button(type="submit")
              i(class="fa fa-search" aria-hidden="true")
      div(class="help-preselected-topics")
        div(class="container")
          div(class="topic-section-one row clearfix")
            a(class="bordered-link col-6") About Kik
            a(class="bordered-link col-6") Tips & Tricks
          div(class="topic-section-two row clearfix")
            a(class="bordered-link col-6") Common Questions
            a(class="bordered-link col-6") Safety
