extends layout.pug

block content
  div.splash.container.clearfix
    div.more-info.col-3
      h2 Lorem ipsum dolor
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      button Bot Shop

    div.iphone-img.col-3
      img(src="/images/iphone.png")
    div.more-info.col-3

      h2 Lorem ipsum dolor
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      button Learn More
