nav(id="main-nav" class="clearfix")
  div.container
    a( href="#" class="navbar-brand") kik&#x0095;

    div.navbar-menu-btn
      div.menu-bar.menu-top-bar
      div.menu-bar.menu-middle-bar
      div.menu-bar.menu-bottom-bar

    ul(id="main-nav-links")
      li
        a(href="/partners") Partners
      li
        a(href="/careers") Careers
      li
        a(href="/help") help
      li
        button(class="apps-download-btn") download
        ul(id="app-download-links")
          li
            a(href="")
              i(class="fa fa-apple" aria-hidden="true")
          li
            a(href="")
              i(class="fa fa-android" aria-hidden="true")
          li
            a(href="")
              i(class="fa fa-windows" aria-hidden="true")
          li
            a(href="")
              i(class="fa fa-amazon" aria-hidden="true")
