extends layout.pug

block content
  section(id="partners")
    div(class="banner")

    div.partners-content
      section(class="partners-introduction")
        div.container
          h2 A new way to engage.

          p More than 1.4 billion people used a chat app in 2015, according to eMarketer. By 2020, according to the Ericsson Mobility Report, there'll be 6 billion smartphone users in the world.
          p The Internet is changing, and chat is at the center of it.
          p Chat apps like Kik offer brands and developers the opportunity to reach consumers in a more intimate and direct environment, where consumers choose who they want to engage with.
          p Kik has more than 300 million registered users. On top of a chat experience that has seen young consumers spending 35 minutes per session in the app, Kik now hosts bots, providing a new way for brands and developers to engage with consumers.
          p Bots are like mini apps that live in a conversation thread. Consumers can chat to bots as if they were chatting to a friend. Bots help people find information, have fun, or get connected to the real world through the scanning of Kik Codes. A bot can share rich media, including videos and images, or just simple conversation. It's like a native ad for chat.

      section(class="partners-more-info")
        div.container
          h2 Reach American teens where they're most comfotable: in chat. Get started with your kik bot today.

          div.row.clearfix
            div.col-3
              p Contact Kik's business development team.
              button Get in touch

            div.col-3
              p Developers, start building your bot.
              button Dev.kik.com

            div.col-3
              p Read the Kik Blog
              button Visit

      section(class="partners-recent-news")
        div.container
          h2 Recent News
          h3 Kik battles facebook with bots in the new Messaging wars

          p "It felt a bit like the first time I tapped a button and an Uber car appeared three minutes later-the magic of what many in the tech industry call online-to-offline, the ability to order physical products or services from an app. Except now you don't even need a new app-you can just chat your way to richer life."
