* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  color: #303030;
  padding-top: 72px; }

a {
  color: #303030;
  text-decoration: none; }
  a:hover {
    color: #26BEFF; }

button {
  margin-top: 0.5em;
  border: none;
  background-color: #26BEFF;
  text-transform: uppercase;
  font-size: 15px;
  padding: 0.75em 1.5em;
  border-radius: 30px;
  color: #fff; }
  button:hover {
    background-color: #20b2f0; }
  button:focus {
    outline: none; }

.clearfix::after,
.clearfix:before {
  content: " ";
  display: table; }

.clearfix::after {
  clear: both; }

.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto; }

.row {
  width: 100%;
  max-width: 100%; }

.col-3 {
  width: 100%;
  float: left; }

.navbar-brand {
  color: #62CB2B;
  font-weight: 900;
  font-size: 2.5em;
  line-height: 1.5; }

#main-nav {
  padding: 0.5em 20px;
  background: #f4f6f7;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px; }

ul#main-nav-links {
  padding-left: 0.5em;
  height: 0;
  overflow: hidden;
  transition: height 0.6s; }
  ul#main-nav-links li {
    font-size: 15px;
    line-height: 34px;
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    list-style: none; }

ul#app-download-links {
  display: none;
  border-radius: 2px; }
  ul#app-download-links li {
    margin-left: 0;
    display: block;
    padding: 1.25em 1em; }
    ul#app-download-links li:hover {
      background-color: #fff; }
    ul#app-download-links li a {
      color: #26BEFF; }
      ul#app-download-links li a i {
        font-size: 3em; }
      ul#app-download-links li a:hover {
        color: #20b2f0; }

.navbar-menu-btn {
  float: right;
  width: 30px;
  height: 60px;
  position: relative; }
  .navbar-menu-btn:hover {
    cursor: pointer; }

.menu-bar {
  position: absolute;
  border-radius: 4px;
  width: 100%;
  height: 4px;
  background-color: #26BEFF; }

.menu-top-bar {
  top: 18px; }

.menu-middle-bar {
  top: 46%; }

.menu-bottom-bar {
  bottom: 18px; }

footer {
  background-color: #26BEFF;
  text-transform: uppercase;
  padding: 0 20px;
  color: #fff; }
  footer .footer-links {
    padding: 1em 0;
    text-align: center; }
    footer .footer-links li {
      list-style: none; }
    footer .footer-links a {
      font-size: 14px;
      line-height: 21px;
      color: #fff; }
      footer .footer-links a:hover {
        color: #cad0d7; }
  footer .social-links {
    text-align: center;
    padding-bottom: 1em; }
    footer .social-links li {
      margin-left: 1.5em;
      list-style: none;
      display: inline-block;
      color: #fff; }
    footer .social-links li:first-child {
      margin-left: 0; }
    footer .social-links a {
      font-size: 1.5em;
      line-height: 21px;
      color: #fff; }
      footer .social-links a:hover {
        color: #cad0d7; }
  footer p {
    color: #cad0d7;
    font-size: 12px;
    text-align: center; }
  footer p:last-child {
    padding-bottom: 0.5em; }

img {
  max-width: 100%;
  width: 100%; }

.splash {
  padding: 7em 20px; }

.iphone-img {
  padding: 3em;
  margin-top: 15%; }

.more-info {
  margin-top: 15%;
  text-align: center; }
  .more-info h2 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    word-spacing: 4px;
    margin-bottom: 0.75em; }
  .more-info p {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 3em;
    color: #555f67; }
  .more-info button {
    border: none;
    background-color: #26BEFF;
    padding: 0.75em 1.5em;
    font-size: 14px;
    color: #fff;
    border-radius: 30px;
    text-transform: uppercase; }
  .more-info:first-child {
    margin-top: 0; }

#partners .partners-banner {
  width: 100%;
  height: 275px;
  background: url("/images/partners.jpg") center no-repeat; }
#partners .partners-content {
  padding-top: 4em;
  padding-bottom: 4em; }
#partners .partners-introduction {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  margin-bottom: 4em; }
  #partners .partners-introduction h2 {
    text-transform: uppercase;
    margin-bottom: 1em;
    font-weight: 400;
    font-size: 2em;
    letter-spacing: 1px; }
  #partners .partners-introduction p {
    font-size: 1.3em;
    font-weight: 300;
    margin-bottom: 1em;
    line-height: 1.5; }
#partners .partners-more-info {
  background-color: #f4f6f7;
  border-top: 2px solid #eef1f3;
  border-bottom: 2px solid #eef1f3;
  text-align: center;
  padding: 2em 1.5em; }
  #partners .partners-more-info h2 {
    font-weight: 400;
    margin-bottom: 2em;
    margin-top: 1em; }
  #partners .partners-more-info p {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    margin-bottom: 3em;
    height: 2em;
    font-weight: 300;
    font-size: 1.2em; }
  #partners .partners-more-info button {
    margin-bottom: 2em;
    margin-top: 1em; }
#partners .partners-recent-news {
  padding: 4em 20px; }
  #partners .partners-recent-news h2 {
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 1em; }
  #partners .partners-recent-news h3 {
    font-size: 2.2em;
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 0.7em;
    color: #26BEFF; }
  #partners .partners-recent-news p {
    font-style: italic;
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.5; }

#careers .careers-banner {
  width: 100%;
  height: 275px;
  background: url("/images/careers.jpg") 50% 40% no-repeat; }

@media screen and (min-width: 700px) {
  .col-3 {
    width: 33%; }

  ul#main-nav-links {
    float: right;
    overflow: visible; }
    ul#main-nav-links li {
      display: inline-block;
      line-height: 60px;
      margin-left: 2.5em;
      position: relative; }

  ul#app-download-links {
    position: absolute;
    margin-top: 1em;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
    border-radius: 2px;
    right: 28px; }
    ul#app-download-links li {
      margin-left: 0;
      display: block;
      padding: 1.25em 1em; }
      ul#app-download-links li:hover {
        background-color: #f4f6f7; }

  .navbar-menu-btn {
    display: none; }

  .iphone-img {
    margin-top: 5%; }

  .more-info:first-child {
    margin-top: 15%; }

  .footer-links {
    float: left; }
    .footer-links li {
      display: inline-block;
      margin-left: 2em; }
      .footer-links li:first-child {
        margin-left: 0; }

  .social-links {
    float: right;
    padding: 1em 0; } }

/*# sourceMappingURL=main.css.map */
